<h1>sign in</h1>
<form action="/user/create-session" method="POST">
    <div>
        <input type="email" name="email" placeholder="enter your email" required />
    </div>
    <div>
        <input type="password" name="password" placeholder="enter password" required />
    </div>
    <div>
        <button type="submit">SIGN IN</button>
    </div>
</form>